.container {
  width: 100%;
  height: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media mobile {
    width: 480px;
  }
  @media tablet {
    width: 768px;
  }
  @media desktop {
    width: 1230px;
  }
}
